
/*//页面样式文件*/
@import url("base.less");

// 欢迎页
.welcome-index {
	background: @default-color;
}
//首页

.index-logo {
    background: url("@{src}/index-logo_03.gif") no-repeat center;
    background-size:6rem;
    width: 60%;
    height: 60%; 
    margin:1rem auto; 
}
.slogan { 
	color: @white;
	position:absolute;
	bottom: 2rem;
	text-align: center;
	width: 100%;
	font-size:@font-size-default;
 }

 // 登陆页
 .login-title {
 	color: @default-color;
 	text-align: center;
 	margin: 2rem 0 2rem;
 }
 .login-page {
 	.login-btn-group {
 		margin-top: 1rem;
 	}
 }
 .list-group-login {
 	border-radius: .5rem;
 	overflow: hidden;
 	border:@border-gray-tint;
 	li {
 		&:last-child {
 			border:none;
 		}
 	}
 }
 .show-btn {
 	position: absolute;
 	right: .7rem;
 	top: .7rem;
	.ico-show-password {
		background-image:url("@{src}/login-ico_07.gif");
		width: 3rem;
		height: 1.2rem;
	}	
	&.active {
		.ico-show-password {
			background-position: left bottom;
		}
	}
 }

//底部声明
.page-footer-info {
	color: @unimportance-color;
	font-weight: normal;
	position: absolute;
	bottom: .8rem;
	text-align: center;
	width: 100%;
	font-size: @font-size-mini;
	.small {
		font-size: @font-size-mini;
		-webkit-transform: scale(75%); /* 相当于 9px */
		transform: scale(75%);
	}
}

//首页样式
.index-h1 {
	font-size:@font-size-default;
	text-align: center;
	color: @gray-dark;
	margin:1rem 0 1.5rem;
}
.index-kit-list {
	.col-33 {
		position: relative;
	}
	text-align: center;
	.kit-button {
		border:.05rem solid @default-color;
		background-color:@white;
		display: inline-block;
		text-align: center;
		border-radius: 10rem;
		overflow: hidden;
		padding: .1rem;
		width: 3rem;
		height: 3rem;
		position: relative;
		&:active {
			opacity: .5;
		}
		&.ico-all{
			background-size: 1.4rem;
			background-position: center;
			&.ico-index-1 {
				background-image: url("@{src}/index-ico_1.png");
			}
			&.ico-index-2 {
				background-image: url("@{src}/index-ico_2.png");
			}
			&.ico-index-3 {
				background-image: url("@{src}/index-ico_3.png");
			}
			&.ico-index-4 {
				background-image: url("@{src}/index-ico_4.png");
			}
			&.ico-index-5 {
				background-image: url("@{src}/index-ico_5.png");
			}
			&.ico-index-6 {
				background-image: url("@{src}/index-ico_6.png");
			}
			&.ico-index-7 {
				background-image: url("@{src}/index-ico_7.png");
			}
			&.ico-index-8 {
				background-image: url("@{src}/index-ico_8.png");
			}
		}
	}
	.orange {
		.kit-button {
			border:.05rem solid @orange;
		}
	}
	span {
		display: block;
		&.index-ico-name {
			font-size: @font-size-mini;
			margin: .2rem 0 .8rem;
			color: @black;
		}
	}
	.number {
		background: @red;
		color: @white;
		text-align: center;
		line-height: 1rem;
		padding: .05rem .35rem;
		display: none;
		position: absolute;
		left: 50%;
		margin-left: .8rem;
		top: 0;
		border-radius: 10rem;
		font-size: @font-size-small;
		font-style: normal;
	}	
	.has-num {
		.number {
			display: block;
		}
	}
	.unopen {
		display: none;
	}
	.un-open {
		.kit-button {
			opacity: 1;
		}
		.unopen{
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background: @black;
			color: @white;
			font-size: @font-size-mini;
			line-height: 3rem;
			opacity: .8;
			border-radius: 10rem;
		}
	}
}

// 功能列表页面

.card-title {
	color: @default-color;
	font-size: @font-size-large;
	vertical-align: middle;
	&.warning {
		color: @warning-color;
	}
	&.unimportance {
		color: @unimportance-color;
	}
	.phone-number {
		font-size: @font-size-default;
		margin-right: .1rem;
	}
}
.card-footer {
	span {
		vertical-align: middle;
	}
	.inline-block-ul {
		li {
			margin-left: .5rem;
		}
	}
}
.card-header,.card-footer,.card-content{
	padding-right:.5rem;
	padding-left:.5rem;
	.default-color {
		color: @default-color;
	}
}
.video-content-font {
	color: @black;
	font-size:@font-size-bigger;
	font-weight: normal;
	margin: .5rem 0;
}
.actions-modal-button {
	font-size: @font-size-default;
}
.info-block-right {
	display: block;
	width: 100%;
	text-align:right;
}
.phone-number {
	color: @default-color;
	vertical-align: middle;
}
.list-noborder-small {
	ul{
		padding-bottom:.5rem;
		li {
			border-bottom: none;
			padding: 0!important;
			.item-inner {
				padding: 0;
				&.multiple {
					padding: .25rem;
					display: block;
					.item-title {
						float: left;
					}
					.item-after {
						float: right;
					}
				}
			}
			&.small {
				font-size:@font-size-small;
				min-height: 1.1rem;
				.item-inner {
					min-height: 1.1rem;
					background: @gray-tint-color;
				}
			}
		}
	}
}
.card {
	font-size: @font-size-mini;
}
.page-unimportant-title {
	color: @unimportance-color;
	margin:.5rem auto;
}
.room-list {
	.col-33 {
		margin-bottom: .5rem;
	}
}

.list-block .item-link .item-inner {
	&.small {
		background-size:.3rem;
		// background-position: 94% center!important; 
	}
}
.item-after {
	&.small {
		font-size: 70%;
	}
}

.password-list {
	margin-top: 2rem;
	ul {
		background: none;
		li {
			border:none;
			font-size: @font-size-default;
			margin-bottom: .25rem;
			input {
				background: @white!important;
				border:@border-gray-tint!important;
				border-radius: .4rem!important;
			}
		}
	}
}

//关于我们页面
.about-logo {
	background: url('@{src}/logo-about-ico_03.png') center no-repeat;
	width: 4rem;
	height: 4rem;
	background-size: 100%;
	position: absolute;
	left: 50%;
	margin-left: -2rem;
	top: 3rem;
}
.about-version {
	background-size: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 8rem;
	text-align: center;
}
.about-phone {
	background-size: 100%;
	position: absolute;
	width: 6rem;
	bottom: 2rem;
	text-align: center;
	left: 50%;
	margin-left: -3rem;
	background: @default-color;
	color: @white;
	border-radius: .25rem;
	font-size: @font-size-mini;
	line-height: 1.5rem;
	.icon {
		font-size: @font-size-big;
	}
}

.card-finish-box {
	.card-content {
		border-bottom: @border-gray-tint;
	}
}

.row {
	.col-30 {
		width: 26%;
		margin-left: 4%;
	}
	.col-70 {
		width: 66%;
		margin-left: 4%;
	}
}

.login-page {
	.content {
		position: relative;
		z-index: 1;
	}
}
.list-block .item-link .item-inner {
	background-position: 94% center;
}

.card-header {
	.pull-right{
		float: none;
		position: absolute;
		right: .5rem;
		top: .5rem;
	}
}