/*//页面样式文件*/
@import url("base.less");

// 欢迎页
.welcome-index {
	background: @default-color;
}
//首页

.index-logo {
    background: url("@{imgsrc}/index-logo_03.gif") no-repeat center;
    background-size:100%;
    width: 60%;
    height: 60%; 
    margin:1rem auto; 
}
.slogan { 
	color: @white;
	position:absolute;
	bottom: 2rem;
	text-align: center;
	width: 100%;
	font-size:@font-size-default;
 }

 // 登陆页
 .login-title {
 	color: @default-color;
 	text-align: center;
 	margin: 2rem 0 2rem;
 }
 .login-page {
 	.login-btn-group {
 		margin-top: 1rem;
 	}
 }
 .list-group-login {
 	border-radius: .5rem;
 	overflow: hidden;
 	border:@border-gray-tint;
 	li {
 		&:last-child {
 			border:none;
 		}
 	}
 }
 .show-btn {
 	position: absolute;
 	right: .7rem;
 	top: .7rem;
	.ico-show-password {
		background-image:url("@{imgsrc}/login-ico_07.gif");
		width: 3rem;
		height: 1.2rem;
	}	
	&.active {
		.ico-show-password {
			background-position: left bottom;
		}
	}
 }

//底部声明
.page-footer-info {
	color: @unimportance-color;
	font-weight: normal;
	position: absolute;
	bottom: .8rem;
	text-align: center;
	width: 100%;
	font-size: @font-size-mini;
	.small {
		font-size: @font-size-mini;
		-webkit-transform: scale(75%); /* 相当于 9px */
		transform: scale(75%);
	}
}

//首页样式
.index-h1 {
	font-size:@font-size-default;
	text-align: center;
	color: @gray-dark;
	margin:1rem 0 1.5rem;
}
.index-kit-list {
	.col-33 {
		position: relative;
	}
	text-align: center;
	.kit-button {
		border:.05rem solid @default-color;
		background-color:@white;
		display: inline-block;
		text-align: center;
		border-radius: 10rem;
		overflow: hidden;
		padding: .1rem;
		width: 3rem;
		height: 3rem;
		position: relative;
		&:active {
			opacity: .5;
		}
		&.ico-all{
			background-size: 1.4rem;
			background-position: center;
			&.ico-index-1 {
				background-image: url("@{imgsrc}/index-ico_1.png");
			}
			&.ico-index-2 {
				background-image: url("@{imgsrc}/index-ico_2.png");
			}
			&.ico-index-3 {
				background-image: url("@{imgsrc}/index-ico_3.png");
			}
			&.ico-index-4 {
				background-image: url("@{imgsrc}/index-ico_4.png");
			}
			&.ico-index-5 {
				background-image: url("@{imgsrc}/index-ico_5.png");
			}
			&.ico-index-6 {
				background-image: url("@{imgsrc}/index-ico_6.png");
			}
			&.ico-index-7 {
				background-image: url("@{imgsrc}/index-ico_7.png");
			}
			&.ico-index-8 {
				background-image: url("@{imgsrc}/index-ico_8.png");
			}
		}
	}
	.orange {
		.kit-button {
			border:.05rem solid @orange;
		}
	}
	span {
		display: block;
		&.index-ico-name {
			font-size: @font-size-mini;
			margin: .2rem 0 .8rem;
			color: @black;
		}
	}
	.number {
		background: @red;
		color: @white;
		text-align: center;
		line-height: 1rem;
		padding: .05rem .35rem;
		display: none;
		position: absolute;
		right: .45rem;
		top: 0;
		border-radius: 10rem;
		font-size: @font-size-small;
		font-style: normal;
	}	
	.has-num {
		.number {
			display: block;
		}
	}
	.unopen {
		display: none;
	}
	.un-open {
		.kit-button {
			opacity: 1;
		}
		.unopen{
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background: @black;
			color: @white;
			font-size: @font-size-mini;
			line-height: 3rem;
			opacity: .8;
		}
	}
}

// 